[Unit]
Description=nicepowerd
Documentation=https://github.com/frap129/nicepowerd
After=basic.target

[Service]
ExecStart=nicepowerd
ExecStop=nicepowerctl stop
Restart=on-failure
RestartSec=5
StartLimitBurst=5
StartLimitInterval=30

[Install]
WantedBy=multi-user.target
